/* header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 32px;
  position: sticky;
  top: 0;
  background: #fff;
}
.logo {
  width: 61px;
  height: 19px;
}
.burger-menu {
  width: 25px;
  height: 25px;
}
header nav ul {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
header nav ul li a {
  color: #000;
}
.btn-action-header {
  display: none;
  padding: 12px 24px;
  border-radius: 32px;
  background-color: #000;
  color: #f3f3f3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  border: none;
}
.btn-action {
  padding: 12px 24px;
  border-radius: 32px;
  background-color: #000;
  color: #f3f3f3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  border: none;
}
/* section 1's styles */
.section1 {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
.section1-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.section1-div1 div {
  display: flex;
  flex-direction: column;
}

.section1-div1 div button {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 16px;
}

.section1-div1 h1 {
  color: #000;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  line-height: 48.5px;
  letter-spacing: -1px;
}
.section1-div1 p {
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}
.section1-div1 span {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}

.hero-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-div img {
  border-radius: 12px;
}

.hero-div .mobile {
  display: block;
  width: 100%;
  height: 409px;
  border-radius: 12px;
}

.hero-div .tablet {
  display: none;
}

.hero-div .desktop {
  display: none;
}

/* section 2's styles */
.section2 {
  padding: 24px 24px 0;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
}
.features li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 24px;
}
.features div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.features h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.features p {
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
/* section 4's styles */
.section4 {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #000;
}
.section4 img {
  width: 327px;
  height: 195px;
  border-radius: 12px;
  margin: auto;
}
.section4 div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.section4 div span {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: -0.1px;
}
.section4 div p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
/* section 5's styles */
.tagline-div {
  padding: 134px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-image: url("../images/mobile/CTAImg-Mobile-375px.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.tagline-div span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.tagline-div p {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.5px;
}
.white-btn {
  padding: 6px 16px;
  border-radius: 24px;
  background-color: #f3f3f3;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  outline: none;
  border: none;
}
/* footer styles */
footer {
  background-color: #000;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
footer img {
  width: 87px;
  margin: auto;
  margin-bottom: 30px;
}
.category-div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.category-div div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.category-div div h3 {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.category-div div ul li {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-align: start;
  align-items: start;
}
.category-div div ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#sub-div {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero-div .mobile {
    display: none;
  }
  .hero-div .tablet {
    display: block;
  }
  .hero-div .desktop {
    display: none;
  }
  .section1 img {
    min-width: 660px;
    height: 450px;
    margin: auto;
  }
  .section1-div1 h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    width: 630px;
    letter-spacing: -1px;
  }
  .section1-div1 p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 630px;
  }
  .section1-div1 span {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  .section1-div1 div button {
    margin: 0;
  }
  .section1-div1 div {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
  .section2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .features {
    display: flex;
    align-items: start;
    text-align: start;
    width: 100%;
  }
  .feature {
    align-items: start;
    text-align: start;
    max-width: 350px;
    margin: auto;
  }
  .features p {
    text-align: start;
  }
  .section4 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .section4 img {
    width: 697px;
    height: 550px;
    border-radius: 12px;
    margin: auto;
  }
  .section4 div span {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.1px;
  }
  /* Section 5 */
  .tagline-div p {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    width: 696px;
    letter-spacing: -0.5px;
  }
  /* fooooter */
  footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  footer img {
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 0;
    margin-bottom: 40px;
    margin-right: 20px;
  }
  .category-div {
    width: 100%;
    display: flex;
    text-align: start;
    align-items: start;
    gap: 100px;
  }
  .category-div div h3 {
    text-align: start;
    font-size: 16px;
    font-weight: 700;
  }
  .category-div div ul {
    align-items: start;
  }
}

@media only screen and (min-width: 1450px) {
  header nav ul {
    display: flex;
  }
  .section1 {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: auto;
    gap: 130px;
  }
  .section1 h1 {
    text-align: start;
  }
  .section1 p {
    text-align: start;
    align-items: start;
  }

  .section1-div1 {
    align-items: start;
  }

  .hero-div img {
    width: 490px;
    height: 428px;
    object-fit: cover;
  }
  .hero-div .mobile {
    display: none;
  }

  .hero-div .tablet {
    display: none;
  }

  .hero-div .desktop {
    display: block;
    min-width: 490px;
    height: 428px;
  }
  .section2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .features {
    display: flex;
    align-items: start;
    text-align: start;
    width: 100%;
  }
  .feature {
    max-width: 350px;
    margin: auto;
  }
  .section4 div span {
    width: 415px;
    align-items: start;
    text-align: start;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.1px;
  }
  .section4 img {
    width: 100%;
    height: 550px;
    border-radius: 12px;
    margin: auto;
  }
  .section4 div {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    max-width: 960px;
    flex-direction: row;
    width: 100%;
  }
  .section4 div p {
    color: #fff;
    max-width: 415px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .category-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: start;
    align-items: start;
  }
  .category-div div h3 {
    text-align: start;
    font-size: 16px;
    font-weight: 700;
  }
  .category-div div ul {
    align-items: start;
  }
  .category-div div ul li {
    align-items: start;
    font-size: 14px;
  }
  #sub-div {
    display: block;
  }
  #sub-div p {
    color: #fff;
    font-size: 14px;
    font-family: Inter;
    line-height: 20px;
    opacity: 0.4;
    width: 228px;
  }
}
