/* header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 32px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
header nav ul li a {
  color: #000;
}
header button {
  padding: 12px 24px;
  border-radius: 32px;
  background-color: #000;
  color: #f3f3f3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  border: none;
}
